input{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body{
    margin: 0%;
}
.wrapper{
    display: flex;
    margin: 0%;
    font-family:'Inter';
}
.transport{
    width: 30%;
    margin-top: 40px;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.filters{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

.transport__info{
    margin-bottom: 5px;
    background-color:#fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #B1ADFF;
    color:  #8684B5;
    font-size: 14px;
    font-weight: 300;
}
.active{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 5%;
    font-size: 16px;
    font-weight: 500;
    height: 55px;
    border-bottom: 1px solid #B1ADFF;
}
.title{
    border-bottom: 1px solid #B1ADFF;
    display: flex;
    flex-direction: row;
    height: 73px;
    align-items: center;
    justify-content:space-between;
    padding: 0 5%;
}
.title__item{
    display: flex;
}
.title__icon{
    height: 33px;
    margin-right: 7px;
}
.title div{
    height: 34px;
}
.taxi , .number{
    color: #0D086B;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.route{
    margin: 0;

}
.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.status p{
    margin: 0;
}
.ststus__now{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ststus__now img{
    height: 11px;
    margin-right: 1px;
}
.data{
    height: 150px;
    border-bottom: 1px solid #B1ADFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5%;
}
.subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #0D086B;
    margin: 10px 0 ;
}
.characteristic span{
    color: #0D086B;
}
.characteristic li{
    margin: 3px 0;
}
.driver{
    padding: 0 5%;
}
.driver p{
    color: #0D086B;
    margin-top: 0px;

}
.driver img{
    height:12px ;
}
.map{
    height: 1000px;
    width: 65%;
    background-color:rgb(249, 129, 193);
    border-radius: 15px;
    margin: 2%;
    margin-top: 40px;
}

/*поиск*/
.search__img{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
}
.search{
    margin-bottom: 15px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #B1ADFF;
}
.search__text{
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    text-align: left;

}
.search__img{
    height: 20px;
}
.search__text::placeholder{
    color: #8684B5;
    font-family:'Inter';
    font-weight: 300;
    font-size: 16px;
}
/*фильтры*/
.filter{
    margin-left: 3px;
    border-radius: 20px;
    position: relative;
    background-color:  #D5D4FD;
    display: flex; /* Используем Flexbox для выравнивания */
    align-items: center; /* Выравниваем элементы по вертикали */
    padding: 6px; 
}
.filter__text{
    margin: 0%;
    display: block;
    padding: 3px;
    font-size: 15px;
    font-weight: 300;
    line-height: 19.36px;
    text-align: left;
    color: #0D086B;
    flex-grow: 1;

}
.filter img {
    height: 18px;
    cursor: pointer;
    margin-left: auto; /* Отодвигаем изображение к правому краю */
}