@media(max-width: 768px){
    .wrapper{
        flex-direction: column-reverse;
    }
    .transport{
        width: 92%;
        margin: 4%;
        margin-top: 15px;
    }
    .transport__filters{
        position: absolute;
        top: 30px;
        width: 92%;
    }
    .search{
        height: 45px;
        margin-bottom: 15px;
    }
    .filter{
        height: 25px;
    }
    .map{
        height: 385px;
        width: 92%;
        margin: 4%;
        margin-top: 135px;
        margin-bottom: auto;
    }
    .transports__info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .transport__info{
        width: 49%;
        margin-bottom: 15px;
        border-radius: 15px;
        font-size: 12px;
    }

    .active{
        font-size: 15px;
        height: 46px;
    }
    .title{
        height: 66px;
    }
    .data{
        height: auto;
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .driver{
        padding-top: 8px;
    }
    .taxi , .number{
        font-size: 14px;
        font-weight: 500;
    }
    .subtitle{
        font-size: 14px;
        margin-bottom: 5px ;
        margin-top: 0;
    }
    .driver img{
        height:10px ;
    }
    .ststus__now {
        font-size: 12px;
    }

}